

.heading {
	text-align: center;
	margin:40px auto;
font-family: 'PT Serif', serif;
	font-weight: bold;
    letter-spacing: 2px;
}
.about{
  background-color:  #d9d9d9;
  margin:40px 0;

}
.about h2 {
font-family: 'Cormorant Garamond', serif;
	font-weight: bold;

}
.about p{
	letter-spacing: 1px;
}
.about img{
	margin:0 30px;
}
.experience h3 {
  background-color:  #d9d9d9;
  	text-align: center;
font-family: 'Cormorant Garamond', serif;
	font-weight: bold;
}
.experience {
	border-right-style: solid;
	border-right-color: grey;
}
.education h3 {
  background-color:  #d9d9d9;
	text-align: center;
	margin:40px 0;
font-family: 'Cormorant Garamond', serif;
	font-weight: bold;

}
.education {
	text-align: center;
}
.expertise {
	text-align: center;
}
.expertise h3 {
  background-color:  #d9d9d9;
	text-align: center;
	margin:40px 0;
	font-family: 'Cormorant Garamond', serif;
	font-weight: bold;

}

p {
	font-family: 'Lora', serif;

}

h4{
	font-family: 'Lora', serif;
}